
body {
    background: #00379b;
}


.myMessage {
    /*margin-right: 0px;*/
    color: white;
    border-top: 1px solid white;
    box-shadow: 2px 8px 20px 0px rgba(0, 0, 0, 0.75);
    margin-top: 10px;
    height: auto;
    border-radius: 50px 10px 10px 50px;
    background: #00c670;
    padding: 8px;
    margin-bottom: 20px;
}


.footer {
    width: 82%;
    height: 50px;
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 100;
    bottom: 0px;
}

.myImg {
    overflow: hidden;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.myContent {
    margin-left: 25px;
    font-size: 15px;
    color: #1d3b41;
}

.myTitle {
    font-size: 18px;
    margin-left: 25px;

}

.img {

    overflow: hidden;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    border: 1px solid;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

* {
    margin: 0px 0px;
}

.title {
    font-size: 18px;
    margin-left: 15px;
}

.content {
    margin-left: 15px;
    font-size: 15px;
    color: #1d3b41;
}


.yourMessage {
    margin-bottom: 20px;

    margin-left: 2%;
    box-shadow: 2px 8px 20px 0px rgba(0, 0, 0, 0.75);
    border-top: 1px solid white;
    position: relative;
    margin-top: 10px;

    height: auto;
    border-radius: 10px 50px 50px 10px;
    background: #0271ca;
    padding: 8px;
}


body::-webkit-scrollbar {
    width: 0px;
    background-color: #00000031;
}

.sc::-webkit-scrollbar {
    width: 7px;
    background-color: rgba(220, 220, 220, 0.5);
}

.sc::-webkit-scrollbar-thumb {
    background: #00ace6;
}

.users::-webkit-scrollbar-thumb {
    background: #012a5a;
}

.users::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(220, 220, 220, 0.5);
}

